@charset "utf-8";


/*
#gallery {position:absolute; width: 100%; height: 150px; background: #eee; overflow-x: scroll; overflow-y:scroll;}
*/
#gallery {position:absolute; width: 95%; height: 150px; background: #eee; overflow:hidden; overflow-y:scroll;}

#gallery-box{background:#eee;}
.gallery li {float: bottom;}
/* padding: 0.4em; margin: 0 0.4em 0.4em 0;*/
.ui-thumb {
    width : 150px;
    padding: 0.4em;
    list-style-type: none;}
.gallery li img {width: 100%; cursor: move;}


.iit-wrapper {
    background-color: #FFF;
    color: #222;
}

#iit-content #menu {
    max-width: 1200px;
}

#iit_container{
    top: 340px;
    width: 100%;
    height: 800px;
}

.img-container{
    float: left;
    max-width: 810px;
    width: 48%;
    min-height: 300px;
    /*height: auto;*/
    border: 2px #333 solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 0 0 px;
    background: #eee;
    z-index: -1;
    opacity: .9;
}
.img-container.iit-ui-state-hover {
    border: 2px #000 solid;
    background-color: #ccc;
}

.img-container img{
    width: 100%;
    max-width: 800px;
}

.jcrop-holder img {
    max-width: unset;
}

#image1 {float: left; text-align: center;}


#image2 {float: left; text-align: center;}

#overlay1 {
    position: absolute;
    top: 0;
    background: rgba(0,0,0,1.0);
    cursor: pointer;
}

#overlay2 {
    position: fixed;
    top: 0;
    left:0;
    background: #777;
    cursor: pointer;
    width: 100%;
    min-height: 100%;
    z-index: 700;
}

#results {
    float: left;
}


#results .ui-icon-close {float: right}
#results .ui-icon-info {float: left}
#results .ui-icon-arrowstop-1-e {float: bottom}
#results .ui-resize {float: bottom}

.info {float: left; min-height: 0.2em;}
.info p {float: left; font-size: x-small;}

.flip {-webkit-transform: scale(-1, 1);
       /*Chrome, Safari*/
       transform: scale(-1, 1);
       /*Firefox*/
       -moz-transform: scale(-1, 1);
       /*Microsoft Internet Explorer*/
       -ms-transform: scale(-1, 1);

       /*Opera*/
       -o-transform: scale(-1, 1);}

.ui-state-disabled {
    opacity: 1;
    filter: none;
    background-image: inherit;
}


.imgtbl{
    width: 100%;
    height: 100%;
    border-spacing: 0px 0px;
    border: 1px solid white;
    border-width: 1px;
    border-color: white;
    z-index: 11000;
    margin: 0;

}

.imgtbl td{
    border: 1px solid white;
    padding: 0px;

}

#img_overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 564px;
    background-color: #000;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    z-index: 10000;
}

#img_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 564px;
    background-color: #777;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    z-index: 10000;
}

#content {
    width:100%;
    height:950px;
    overflow: auto;
}
#ol_close{
    margin-top: 40px;
}

.agile_btn {
    width:20%;
}
form.inline {
    display:inline;
}

#ol_container{
    width: 100%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#twoviews_container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.two_up_image {
    width:99%;
}
.zoomy {
    position: fixed !important;
}

#ol_i1, #ol_i2 {
    float:left;
}